<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DesktopApplicationName</key>
    <string>GWorkspace</string>
    <key>DesktopApplicationSelName</key>
    <string>gworkspace</string>
    <key>GSReservedMountNames</key>
    <array>
	<string>proc</string>
	<string>devpts</string>
	<string>shm</string>
	<string>usbdevfs</string>
	<string>devtmpfs</string>
	<string>devpts</string>
	<string>sysfs</string>
	<string>tmpfs</string>
	<string>procbususb</string>
	<string>udev</string>
	<string>pstore</string>
	<string>cgroup</string>
    </array>
    <key>GSWorkspaceApplication</key>
    <string>GWorkspace</string>
    <key>NSWindow Frame preferencesWin</key>
    <string>100 100 396 310 0 0  1920 1056 </string>
    <key>NSWindow Frame run_external</key>
    <string>477 530 323 148 0 0  1920 1056 </string>
    <key>applications</key>
    <dict>
	<key>1</key>
	<string>TextEdit</string>
	<key>2</key>
	<string>Terminal</string>
	<key>3</key>
	<string>SimpleAgenda</string>
	<key>4</key>
	<string>GNUMail</string>
	<key>5</key>
	<string>Gorm</string>
	<key>6</key>
	<string>ProjectCenter</string>
    </dict>
    <key>browserColsWidth</key>
    <string>214</string>
    <key>default_sortorder</key>
    <string>0</string>
    <key>desktopinfo</key>
    <dict>
	<key>backcolor</key>
	<dict>
	    <key>alpha</key>
	    <string>1</string>
	    <key>blue</key>
	    <string>0.7</string>
	    <key>green</key>
	    <string>0.5</string>
	    <key>red</key>
	    <string>0.3</string>
	</dict>
	<key>fsn_info_type</key>
	<string>0</string>
	<key>iconposition</key>
	<string>5</string>
	<key>iconsize</key>
	<string>48</string>
	<key>imagestyle</key>
	<string>0</string>
	<key>indexes</key>
	<dict>
	</dict>
	<key>labeltxtsize</key>
	<string>12</string>
	<key>usebackimage</key>
	<string>0</string>
    </dict>
    <key>dockclickpolicy</key>
    <string>1</string>
    <key>dockposition</key>
    <string>0</string>
    <key>tabshelf</key>
    <dict>
	<key>auto_hide</key>
	<false/>
	<key>tabs</key>
	<array>
	    <dict>
		<key>Tab1</key>
		<dict>
		    <key>icons</key>
		    <array>
		    </array>
		    <key>iconstype</key>
		    <integer>0</integer>
		</dict>
	    </dict>
	    <dict>
		<key>Pasteboard</key>
		<dict>
		    <key>icons</key>
		    <array>
		    </array>
		    <key>iconstype</key>
		    <integer>1</integer>
		</dict>
	    </dict>
	    <dict>
		<key>last</key>
		<dict>
		    <key>icons</key>
		    <array>
		    </array>
		    <key>iconstype</key>
		    <integer>0</integer>
		</dict>
	    </dict>
	</array>
    </dict>
    <key>terminal_services</key>
    <string>YES</string>
    <key>use_thumbnails</key>
    <string>NO</string>
</dict>
</plist>
